body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:url(pxfuel\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


nav{
    background-color: lightblue;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(193, 24, 24);
}

nav li {
    display: inline-block;
    margin: 0 8px;
}

nav a {
    text-decoration: none;
}

.logo{
    font-size: 35px;
    font-weight: bolder;

}

nav a:hover {
    color: red;
}

.menu-line{
    height: 3px;
    width: 20px;
    background-color:darkblue ;
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

@media all and (max-width:1150px){
    nav{
        flex-direction: column;
    }
    nav li{
        display: block;
        padding: 5px 0;
    }
    ul{
        text-align:start;
        padding: 0;
        
    }
    .logo{
        
        align-self: flex-start;
       margin: 10px 0px 0px 20px;
    }

    .menu{
        display: block;
        position: absolute;
        right: 20px;
        left: 25px;
    }

   
}
